

table {

	border: 1px solid black;
	background: #c6c9c1;
	width: 100%;
	border-collapse: collapse;

}

table tbody tr:nth-child(odd) {
	background-color: whitesmoke;
}

table tbody tr:hover {
	background-color: #f7e35c
}

table th,
table td {
	padding: 1rem;
	font-size: 1.6rem;
	text-align: middle;
	vertical-align: middle;
	border: 1px solid; black;
	border-collapse: collapse;
}

table tr td:first-child {
	text-align: middle;
	font-weight: bold;
}

table th { 
	background-color: #7c8079;
}

.table-container {
	padding: 2rem 1rem;
}

.table-container h3 {
	font-size: 1.8rem;
	font-style: normal;
	margin-bottom: 1rem;
}

.table-container tfoot {
	font-weight: bold;
}

.table-container tfoot td {
	font-weight: bold;
	color: black;
}
